* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(231, 135, 255);
  border-radius: 3px;
}

body {
  background: rgb(0, 0, 0);
}

.App {
  text-align: center;
}

h2 {
  color: #fff;
  padding: 25px 0;
  text-shadow: 1px 1px 1px rgb(231, 135, 255);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 14px 16px;
  border-radius: 4px;
  border: 2px solid rgb(255, 255, 255);
  outline: none;
  background: transparent;
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin: 10px 0;
  width: 50%;
}

::placeholder {
  color: rgb(231, 135, 255);
  text-align: center;
}

button {
  padding: 16px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(231, 135, 255) 100%);
  color: rgb(0, 0, 0);
  font-weight: 700;
  text-transform: capitalize;
  margin: 10px 0;
  font-size: 18px;
}

.item-todo {
  padding: 14px;
  width: 50%;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(231, 135, 255) 100%);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.item-todo:nth-child(4n + 1) {
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 135, 229) 100%);
}

.item-todo:nth-child(4n + 2) {
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 135, 185) 100%);
}

.item-todo:nth-child(4n + 3) {
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(177, 135, 255) 100%);
}

.fa-times-circle {
  font-size: 24px;
  margin: 0 5px;
}

.strike {
  text-decoration: line-through;
}

@media screen and (max-width: 500px) {

  input,
  .item-todo {
    width: 90%;
  }
}
